* {
    cursor: none;
}

body {
    background-color: #000;
    font-family: courier, monospace;
    color: #fff;
    cursor: url("cursor.cur");
}

body,
input {
    font-size: 14px;
}

#console::selection { 
    background: black !important; 
}

span::selection { 
    background: black !important; 
}

#download { 
    position: fixed;
    top: 0;
    height: auto;
    font-size: 8px;
}

br::selection { 
    background: black !important; 
}

div::selection { 
    background: black !important; 
}

#code::selection { 
    color: black !important; 
    background: white !important; 
    font-weight: bolder;
}

a {
    color: #0bc;
    text-decoration: none;
}

#a {
    color: #0f0;
}

#c {
    color: #0bc;
}

#b {
    color: #ff0096;
}

input {
    width: 50%;
    border: none;
    border-color: #000;
    background-color: #000;
    font-family: courier, monospace;
    color: #fff;
}

input:focus {
    outline: none;
}

#var {
    display: inline-block;
    padding-right: 2px;
}

#atual {
    display: inline-block;
    margin-right: -7px;
}

.red {
    color: #FF0000 !important;
}

.green {
    color: #03D500 !important;
}

.blue {
    color: #0482F9 !important;
}

.AC0000 {
    color: #AC0000 !important;
}

.E84E07 {
    color: #E84E07 !important;
}

.BA8605 {
    color: #BA8605 !important;
}

.AFBA05 {
    color: #AFBA05 !important;
}

._4ECA07 {
    color: #4ECA07 !important;
}

._07CA13 {
    color: #07CA98 !important;
}

