:host {
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding: 20px;
  gap: 40px;
  font-family: 'Fira Code', monospace;
}

@media (max-width: 1200px) {
  :host {
    flex-direction: column;
  }
}
