/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Global scrollbar styles */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Code', monospace;
  overflow: hidden;
}
